eel
pyttsx3
speechrecognition
pyaudio
pvporcupine
pyautogui
pywhatkit
playsound
openai
requests
chromadb
sentence-transformers
transformers
tensorflow
numpy
opencv-python
matplotlib
seaborn
scikit-learn
pandas 